#back {
    background-image: url(/img/main1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
        
}


.center {
    background-color: rgb(83, 9, 4);
    flex-wrap: wrap;
    height: 1300px;
    width: 305px;
    margin-top: -40px;
    margin-left: -15px;
   
  }

  .logo {
    margin-top: -1265px;
    justify-content: flex-start;
    margin-left: -15px;
    
  }

  .p1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: bisque;
    font-size: 23px;
    

  }

  /* unvisited link */
  a:link {
    text-decoration: none;
    margin-right: 25px; 
    color: inherit;
    color: rgb(235, 234, 238); 
    font-weight: bold; 
       
  }

  /* visited link */
a:visited {
  color: rgb(235, 234, 238);
}

/* mouse over link */
a:hover {
  color: rgb(255, 240, 105);
}

/* selected link */
a:active {
  color: rgb(224, 224, 235);
}

.ul {
    list-style-type: none;  
                       
  }

.li {
    
    text-decoration: none;
    flex-wrap: wrap;
    flex-direction: column;
    column-width: 250px;
    margin-left: auto;
    color:bisque;
    text-align: center;
    font-size: 23px;

              
  }



 
 
